

<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Publication table</h3>
        </div>
        <div class="table-responsive">
          <button type="button" class="btn btn-danger" (click)="PDF()">PDF</button>

          <br>

          <br>

<app-publication-ajout></app-publication-ajout>
          <table class="table align-items-center table-flush">
            <thead class="thead-light">

            <th>Actions</th>
            <th>#</th>

            <th>
              contents
            </th>
            <th> Date</th>
            <th> User</th>
            </thead>


            <tbody>

            <tr *ngFor="let i of listPub">
              <td>  <button type="button" class="btn btn-outline-danger" (click)="deletePub(i)" >Delete</button></td>



              <th scope="row" > {{i.idPublication}}</th>
              <td>




                {{i.contents}}</td>
              <td>  {{i.date}}</td>
              <td> {{i.userr.firstName}}  {{i.userr.lastName}}</td>

            </tr>


            </tbody>



          </table>

        </div>

        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>


      </div>
    </div>
  </div>


</div>
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/622ba6e4a34c2456412aa4aa/1ftt87s0s';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
</script>
